@page
@namespace Server.Pages
@model IndexModel

<html lang="en">
<head>
    <title>Inbox</title>
</head>
<body>

@if (Model.IsAuthenticated) {
    <ul>
        @foreach (var message in Model.UnreadMessages.All) {
            <li>@message.Content</li>
        }
    </ul>
} else {
    <em>You are not logged in.</em>
}

</body>
</html>
